html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}

/* .content {
   flex: 1; 
 } */

button {
  cursor: pointer;
  font-family: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 320px;
  /* width: 100%; */
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}


.section {
  /* min-height: 100vh; */
width: 100%;
  padding-top: 96px;
  padding-bottom: 96px;
}

/* =======HEADER======== */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
 }
.header-nav {
  display: flex;
   align-items: center;
 }

.header-logo-color {
  color: #2e2f42;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  /* padding-top: 16px;
  padding-bottom: 16px;
padding-left: 16px; */
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-studio {
  color: #404bbf;
}

.header-menu-link.header-studio::after {
  content: "";
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.header-menu-list {
  display: none;
  gap: 40px;
}

.header-address {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header-address-list {
   display: none;
  gap: 40px;
}

.header-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

.header-menu-button {
  width: 24px;
  height: 24px;
  background-color: transparent;
   fill: #2f2f37;
  border: none;
  display: flex;
  right: 16px;
  margin-top: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  }

.header-menu-icon {
  /* fill: #2f2f37;*/
} 

/* =======MOBILE MENU======== */

.mob-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 99999;
  isolation: isolate;
  display: flex;
  flex-direction: column;
   overflow: auto;
  opacity: 0;
visibility: hidden;
pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  isolation: isolate;
}

.header-mob-close-button {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 24px;
    color: #2e2f42;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
   }
.header-mob-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
    height: 100%;
  z-index: 999;

}

.header-mob-nav {
   /* margin-bottom: 168px; */
}
.header-mob-menu-list {
  display: flex;
  flex-direction: column;
   align-items: flex-start;
   gap: 40px;

}
.header-mob-line {
}
.header-mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mob-menu-link:hover,
.header-mob-menu-link:focus {
  color: #404bbf;
}
.header-mob-studio {
  color: #404bbf;
}

.header-mob-menu-position {
flex: 1;
  display: flex;
flex-direction: column;
justify-content: space-between;
}

.header-mob-address {
  display: flex;
  margin-bottom: 48px;
}
.header-mob-address-list {
  display: flex;
  flex-direction: column;
   align-items: flex-start;
   gap: 24px;
}
.header-mob-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mob-address-link:hover,
.header-mob-address-link:focus {
  color: #4d5ae5;
}

.header-mob-phone {
color: #4d5ae5;
}
.header-mob-social-media {
  width: 280px;
  height: 40px;
  display: flex;
  align-items: center;
 }
.header-mob-list-icons {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.header-mob-list-icon-item {
}
.header-mob-list-social-icons {
  background-color: #4d5ae5;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mob-social-icon {
  fill: #f4f4fd;
  display: block;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
} 

/* =======HERO======== */

.hero {
  background-color: #2e2f42;
   padding: 72px 0;
  /* max-width: 320px; */
  /* height: 432px; */
  /* min-height: 100vh; */
  /* height: auto; */
  width: 100%;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-img-mob.jpg);
 
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-img-mob@2x.jpg);
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
    max-width: 216px;
  margin-bottom: 72px;
 
}
.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* =======VALUES======== */

.values-container {
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.values-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 72px;
}

.value-icons {
  display: none;
}

.value-icons-unit {
}

.values-list-unit {
   width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.values-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
   }

.values-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* =======TEAM======== */

.team {
  background-color: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
    justify-content: space-between;
   gap: 72px;
}

.team-list-item {
  background-color: #ffffff;
   border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: 100%;
   display: flex;
  flex-direction: column;
  align-items: center;
 }

.team-container {
  padding: 0 28px;
 }

.team-list-image {
  object-fit: cover;
  width: 100%;
}

.team-member {
  padding: 32px 0;
}

.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.team-list-icons {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.team-list-icon-item {
}

.team-list-social-icons {
  background-color: #4d5ae5;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-social-icons:hover,
.team-list-social-icons:focus {
  background-color: #404bbf;
}

.team-social-icon {
  fill: #f4f4fd;
  display: block;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

/* =======PORTFOLIO======== */

.portfolio {
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
   gap: 48px;
}
.portfolio-list-unit {
   background: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.portfolio-list-unit:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-list-unit:hover .portfolio-hidden-text {
  transform: translate(0);
}
.portfolio-list-image {
  object-fit: cover;
  width: 100%;
  border-top: none;
}

.portfolio-hidden-unit {
  position: relative;
  overflow: hidden;
}

.portfolio-list-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  width: 100%;
}

.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-hidden-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* =======FOOTER======== */

.footer {
  background-color: #2e2f42;
  background-size: cover;
  color: white;
  padding: 96px 0;
}

.footer-text-container {
  display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
  width: 100%;
} 

.footer-container {
display: flex;
flex-direction: column;
align-items: center;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-color {
  color: #f4f4fd;
}

.footer-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-social-media {
  width: 208px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

.social-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-list-icons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.footer-list-icon-item {
}

.footer-list-social-icons {
  background-color: #4d5ae5;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-social-icons:hover,
.footer-list-social-icons:focus {
  background-color: #31d0aa;
}

.footer-social-icon {
  fill: #f4f4fd;
  display: block;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.footer-subscribe-field {
  /* display: flex;
  flex-direction: column;
   justify-content: center;
align-items: center; */
}

.footer-form {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px; */
  width: 100%;
}
.footer-subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  display: block;
  margin-bottom: 16px;
  text-align: center;
}

.footer-subscribe-label {
}

.footer-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  /* flex: 1 1 200px;
  min-width: 0; */
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  display: inline-block;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  flex: 0 0 auto;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
  background-color: #404bbf;
}


.submit-icon {
  color: #fff;
  margin-left: 16px;
} 
/* -------MODAL------------ */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  background-color: rgba(46, 47, 66, 0.4);
   
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 72px 16px 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
  color: #2e2f42;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1); fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
  color:#fff;
}

.close-button:hover .close-icon,
.close-button:focus .close-icon {
  fill: #fff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-item {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  font-size: 12px;
  color: #2e2f42;
  font-weight: 400;
}

.modal-input {
  height: 40px;
  padding-top: 11px;
  padding-right: 16px;
  padding-bottom: 11px;
  padding-left: 34px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-input:focus {
  border: 1px solid #4d5ae5;
}

.modal-input:focus-within + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-input-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-input-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-field-textarea {
  margin-bottom: 16px;
}

.modal-input-icon {
  color: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-item:focus {
  fill: #4D5AE5;
}
.modal-icon-cover {
  position: relative;
}

.modal-textarea {
  height: 120px;
  resize: none;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-textarea:focus {
  border-color: #4D5AE5;
}

.submit-button {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 24px;
}

.submit-button:hover,
.submit-button:focus {
  background-color: #404bbf;
}

.modal-field-checkbox {
  margin-bottom: 24px;
}

.checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
}

.check-element {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  margin-right: 8px;
 
  color: none;
  fill: transparent;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

span.check-element {
  display: inline-flex;
}

.check:checked {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-icon {
  color: transparent;
}

.check:checked + .checkbox-label .check-element {
  background-color: #404bbf;
  border-radius: 2px;
  border: none;
  fill: #f4f4fd;
}

.check:checked + .checkbox-label .check-element .check-icon {
  color: #ffffff;
}

.check-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  margin-left: 4px;
}


@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-menu-list {
    display: flex;
    gap: 40px;
  }
  
  .header-address {
    /* padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px; */
  }

  .header-address-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
 


  .header-address-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
  }

  .header-menu-button{
    display: none;
  }

  .mob-menu {
    display: none;
  }

  .hero {
    padding: 112px 0;
    width: 100%;
    /* height: 436px; */
    /* min-height: 100vh; */
    height: auto;
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-img-tab.jpg);
    margin: 0 auto;
      }

  /* @media screen and (min-resolution: 2x) {
    .hero {
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img-tab@2x.jpg);
    }
  } */

  .hero-container {
    /* display: block; */
    width: 100%;
  }

  .hero-title {
    font-size: 56px;
    min-width: 496px;
    margin: 0 auto; 
    margin-bottom: 36px;
  }

  .values-list {
    gap: 72px 24px;
   }
  .values-list-unit {
    width: calc((100% - 24px) / 2);
    align-items: flex-start;
   }
  .values-list-title {
    text-align: left;
    }

  .team-list {
    gap: 64px 24px;
    flex-direction: row;
  }

  .team-list-item {
    width: calc((100% - 24px) / 2);
    }

  .team-container {
    /* padding: 0 108px; */
    width: 584px;
  }
  
  .portfolio-list {
flex-direction: row;
 gap: 72px 24px;
  }

  .portfolio-list-unit {
    width: calc((100% - 24px) / 2);
  }

  .footer-text-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    align-items: flex-start;
    justify-content: start;
    /* padding: 0 108px; */
    width: 584px;
  }

  .footer-container {
    align-items: flex-start;
  }

  .footer-social-media {
    align-items: flex-start;
  }

  .footer-form {
    display: flex; 
    flex-direction: row; 
  gap: 24px;
  }
  .footer-subscribe-title {
text-align: left;
  }
  .footer-input {
width: 264px;
  }

  .footer-subscribe-field {
    /* align-items: flex-start; */
  }

  .modal {
    width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  }

  .modal-input {

  }
}

@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img-tab@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .container {max-width: 1158px;
  padding-left: 15px;
padding-right: 15px;}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.header-address {
  padding: 0;
}

.header-address-list {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around;
  align-items: center; */
  gap: 40px;
}

.hero {
  padding: 188px 0;
  /* max-width: 1440px; */
  width: 100%;
  /* height: 600px; */
  /* height: auto; */
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ),
  url(../images/hero-img.jpg);
}

/* @media screen and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-img@2x.jpg);
  }
} */

.hero-title {
  margin-bottom: 48px; 
}

/* .values-list {
  gap: 24px;} */

.value-icons {
  border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
background: #f4f4fd;
 margin-bottom: 8px;
display: flex;
align-items: center;
justify-content: center;
}
.value-icons-unit {
  display: block;
margin: 0 auto;
justify-content: center;
align-items: center;
}
.values-list-unit {
width: calc((100% - 72px) / 4);
}
.values-list-title {
font-weight: 500;
font-size: 20px;
}

.values-list-text {
font-weight: 400;
}

.team-list-item  {
width: calc((100% - 24px * 3) / 4);
}

.team-list {
gap: 24px;
flex-direction: row;
margin: 0;
}

.portfolio-list {
gap: 48px 24px;
}
  
.portfolio-list-unit {
width: calc((100% - 48px) / 3);
}

.footer {
padding: 100px 0;
}

.footer-text-container {
align-items: baseline;
flex-wrap: nowrap;
gap: unset;
width: auto;
}

.footer-container {
margin-right: 120px;
}

.footer-social-media {
margin-right: 80px;
}

.footer-subscribe-field {
  /* display: flex;
  justify-content: space-between; */

}

.footer-subscribe-title {
  text-align: left;
}
.footer-form {
    /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px; */
}

.footer-item {
  min-width: 264px;
}

.modal-input {
  padding-left: 38px; 
}
}

@media screen and (min-width: 1158px) and (min-resolution: 2dppx) {
.hero {
 background-image: linear-gradient(
  rgba(46, 47, 66, 0.7),
  rgba(46, 47, 66, 0.7)
 ),
  url(../images/hero-img@2x.jpg);
 }
}